
<h1>GetFit Hub</h1>


<% user = User.find_by(id:session[:user_id])%>


<h1>Welcome Back, <%= user.firstname %> </h1>

<br>
<a href="/home/todaysplan">Today's Plan</a>
<br>
<a href="/home/entercalories">Update your calories</a>
<br>
<a href="/home/analyzeweightchange">Analyze your weight change</a>
<br>
<%= link_to "Stopwatch", "/stopwatch"%>
<br>
<%= link_to "Log Out", "/logout"%>