<h1>Create your GetFit account.</h1>
<h1>It's free and only takes a minute.</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<% end %>
<% end %>

<form action="/signups" method="post"> <%= token_tag %>
	<p>
		<label>First Name:</label>
		<input type="text" name="user[firstname]">
	</p>
	<p>
		<label>Last Name:</label>
		<input type="text" name="user[lastname]">
	</p>
	<p>
		<label>Email:</label>
		<input type="text" name="user[email]">
	</p>
    <p>
        <label>Password:</label>
	    <input type="password" name="user[password]">
	</p>
	<p>
        <label>Confirm Password:</label>
	    <input type="password" name="user[password_confirmation]">
	</p>

	<input type="submit" value="Create">
</form>
<br><br>

<a>Having an account?</a>
<a href="/users"> Login</a>
