<h1>GetFit Hub</h1>

<title>Login</title>

<div class="errors">
	<% if flash[:errors]%>
		<% flash[:errors].each do |error| %>
			<p> <%=error%> </p>
		<%end%>
	<%end%>
</div>

<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<% form_authenticity_token%>">
	<p>
		<label>Eamil:</label>
		<input type="email" name="login[email]" placeholder="email">
	</p>
	<p>
		<label>Password:</label>
		<input type="password" name="login[password]" placeholder="password">
	</p>

	<input type="submit" value="Login">

</form>

<br>
<a>Don't have an account?</a>
<a href="/signups"> Sign Up</a>