<!doctype html>
<html lang="en">
    <head>
        <% unless flash[:errors] %>
            <script type='text/javascript'>
                (function()
                {
  		  		    if( window.localStorage )
                    {
                        if( !localStorage.getItem('firstLoad') )
                        {
                            localStorage['firstLoad'] = true;
                            window.location.reload();
    				    }  
    				    else
                            localStorage.removeItem('firstLoad');
                    }
                })();
            </script>
        <% end %>

    	<style>
            .bd-placeholder-img {
        		font-size: 1.125rem;
        		text-anchor: middle;
        		-webkit-user-select: none;
        		-moz-user-select: none;
        		-ms-user-select: none;
        		user-select: none;
      		}

    		@media (min-width: 768px) {
    			.bd-placeholder-img-lg {
        			font-size: 3.5rem;
        		}
    		}
    	</style>

	</head>

  	<body class="text-center input-group-lg">
  		<br><br>
    	<form class="form-signin" action="/users" method="post">
    		<input type="hidden" name="authenticity_token" value="<% form_authenticity_token%>">
  			<img class="mb-4" src="logo.png" alt="logo" width="72" height="72">
  			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1><br>
  			<div class="errors">
				<% if flash[:errors]%>
					<% flash[:errors].each do |error| %>
						<p class="text-danger"> <%=error%> </p>
					<%end%>
				<%end%>
			</div>
			<p>
  				<label for="inputEmail" class="sr-only">Email address</label>
 	 			<input type="email" id="inputEmail" name="login[email]" placeholder="Email address" style="text-align:center" required autofocus>
  			</p>
  			<p>
  				<label for="inputPassword" class="sr-only">Password</label>
  				<input type="password" id="inputPassword" name="login[password]" placeholder="Password" style="text-align:center" required autofocus>
  			</p>
  			<div class="checkbox mb-3">
    			<label>
      				<input type="checkbox" value="remember-me"> Remember me
    			</label>
  			</div>
  			<button class="btn btn-lg btn-primary" type="submit">Login</button>
  			<p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
		</form>

		<br>
<<<<<<< HEAD
		<a>Don't have an account?</a><br>
		<a href="/signups"> Sign Up</a>
=======
		<a href="/signups">Don't have an account?<br>Sign Up</a>
>>>>>>> fa52d1c993abdfced59076e0ce7bee47d6e5d824

	</body>
</html>










