<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    	<style>
            .bd-placeholder-img {
        		font-size: 1.125rem;
        		text-anchor: middle;
        		-webkit-user-select: none;
        		-moz-user-select: none;
        		-ms-user-select: none;
        		user-select: none;
      		}

    		@media (min-width: 768px) {
    			.bd-placeholder-img-lg {
        			font-size: 3.5rem;
        		}
    		}
    	</style>
	</head>
  	<body class="text-center input-group-lg">
  		<br><br>

    	<form class="form-signin" action="/signups" method="post"> <%= token_tag %>
  			<img class="mb-4" src="logo.png" alt="logo" width="72" height="72">
  			<h1 class="h3 mb-3 font-weight-normal">Create your GetFit account. It's free and only takes a minute.</h1><br>
  			<div class="errors">
				<% if flash[:errors]%>
					<% flash[:errors].each do |error| %>
						<p class="text-danger"> <%=error%> </p>
					<%end%>
				<%end%>
			</div>
			<p>
  				<label for="inputFirstname" class="sr-only">First name</label>
 	 			<input type="text" id="inputFirstname" name="user[firstname]" placeholder="First name" style="text-align:center" required autofocus>
  			</p>
  			<p>
  				<label for="inputLastname" class="sr-only">Last name</label>
 	 			<input type="text" id="inpuLastname" name="user[lastname]" placeholder="Last name" style="text-align:center" required autofocus>
  			</p>
			<p>
  				<label for="inputEmail" class="sr-only">Email address</label>
 	 			<input type="email" id="inputEmail" name="user[email]" placeholder="Email address" style="text-align:center" required autofocus>
  			</p>
  			<p>
  				<label for="inputPassword" class="sr-only">Password</label>
  				<input type="password" id="inputPassword" name="user[password]" placeholder="Password" style="text-align:center" required autofocus>
  			</p>
  			<p>
  				<label for="inputPassword" class="sr-only">Password comfirmation</label>
  				<input type="password" id="inputPasswordconfirmation" name="user[password_confirmation]" placeholder="Password confirmation" style="text-align:center" required autofocus>
  			</p>
  			<div class="checkbox mb-3">
    			<label>
      				<input type="checkbox" value="remember-me"> Remember me
    			</label>
  			</div>
  			<button class="btn btn-lg btn-primary" type="submit">Create Account</button>
  			<p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
		</form>

		<br>
		<a>Having an account?</a><br>
		<a href="/users">Login</a>

	</body>

</html>
